{% extends "layout.html" %}

{% block content %}
<h1>Welcome to Geographic</h1>
<p>Explore the beauty of Kenya with our exclusive tours!</p>

<h2>Top Tourist Destinations in Kenya</h2>

<div>
  <h3>Maasai Mara National Reserve</h3>
  <img src="{{ url_for('static', filename='images/masai_mara-1.jpg') }}" alt="Maasai Mara National Reserve" width="400">
  <p>The Maasai Mara National Reserve is one of the most famous safari destinations in the world. Known for the Great Migration, where over two million wildebeest, zebras, and gazelles traverse the plains, it offers an unparalleled wildlife experience.</p>
</div>

<div>
  <h3>Mount Kenya</h3>
  <img src="{{ url_for('static', filename='images/Mount-Kenya.jpg') }}" alt="Mount Kenya" width="400">
  <p>Mount Kenya is Africa's second-highest mountain and a UNESCO World Heritage site. It offers stunning landscapes, diverse ecosystems, and is a haven for trekkers and climbers seeking adventure amidst its rugged peaks.</p>
</div>

<div>
  <h3>Amboseli National Park</h3>
  <img src="{{ url_for('static', filename='images/Amboseli.jpg') }}" alt="Amboseli National Park" width="400">
  <p>Amboseli National Park is renowned for its large elephant herds and spectacular views of Mount Kilimanjaro. The park provides a perfect setting for photography enthusiasts and nature lovers alike.</p>
</div>

<div>
  <h3>Lake Nakuru</h3>
  <img src="{{ url_for('static', filename='images/Nakuru.png') }}" alt="Lake Nakuru" width="400">
  <p>Lake Nakuru is a soda lake located in the Great Rift Valley, famous for its flamingo population. The surrounding national park is home to diverse wildlife, including rhinos, making it a prime destination for birdwatchers and wildlife enthusiasts.</p>
</div>

<div>
  <h3>Lamu Island</h3>
  <img src="{{ url_for('static', filename='images/lamu.jpg') }}" alt="Lamu Island" width="400">
  <p>Lamu Island is a UNESCO World Heritage site known for its rich Swahili culture, beautiful beaches, and historic architecture. It offers a tranquil escape and a glimpse into Kenya's coastal heritage.</p>
</div>

{% endblock %}
